/* Общие стили */
body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  padding: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.task {
  margin-bottom: 50px;
}

.box {
  display: flex;
  width: 200px;
  height: 100px;
  background-color: #ddd;
  margin: 20px auto;
}

/* === В ЭТИХ СЕКЦИЯХ НУЖНО ДОПИСАТЬ СТИЛИ === */

/* Задание 1: Центрирование */
.center-box {
justify-content: center;
align-items: center;
  /* TODO: Центрировать блок по центру экрана */
}

/* Задание 2: Ховер-эффект */
.hover-box {
transition: all 0.4s;
  /* TODO: Добавить ховер-эффект с изменением цвета и масштаба */
}
.hover-box:hover {
  color: brown;
  background-color: bisque;
  transform: scale(1.2);
}
 
/* Задание 3: Цвета */
.color-box {
  color: rgb(209, 216, 12);
  background-color: black;

  /* TODO: Изменить цвет фона и текста */
}
.current-color-border {
  margin-left: auto;
  margin-right: auto;
  width: 6em;
  color: #d72d03;
  border: 2px solid currentColor;
  width: fit-content;
}
a:link {
  font-size: 14px;
  text-decoration: none;
  color: #d20a0a;
  font-weight: bold;
  font-family: sans-serif;
}
a:visited {
  font-size: 14px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-family: sans-serif;
}
a:hover {
  font-size: 14px;
  text-decoration: none;
  color: #de0a0add;
  font-weight: bold;
  font-family: sans-serif;
}
a:active {
  font-size: 16px;
  text-decoration: none;
  color: #ff6a00;
  font-weight: bold;
  font-family: sans-serif;
}
/* Задание 4: Рамка и скругление */
.border-box {
  border-radius: 12px;
  /* TODO: Добавить рамку и border-radius */
}

/* Задание 5: Тень */
.shadow-box {
  box-shadow: 44px 42px 5px -8px rgba(34, 60, 80, 0.2);
  /* TODO: Добавить box-shadow */
}

/* Задание 6: Стилизация текста */
.text-box {
  font-family: 'Roboto';
  src: url("./Roboto-Italic.woff2") format("woff2");
  font-size: 120%;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  /* TODO: Изменить размер, стиль, weight и сделать заглавными */
}

/* Задание 7: Плавность */
.transition-box {
  transition: 1.2s;
  /* TODO: Добавить transition и стили ховера */
}
.transition-box:hover{
  color: blue;
  background-color: yellowgreen;
}
/* Задание 8: Адаптивность */
.responsive-box {
  width: 50%;
  max-width: 300px;
  /* TODO: Сделать ширину 50% + max-width 400px */
}
